
ol, ul {
    list-style-type: none;
    }
    
    body {
    width: 100% ;
    background-repeat: no-repeat;
    margin: 0 auto;
    font-family: 'Montserra', sans serif;
    }
    .main-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    
    .container {
    width: 20%;
    height: 420px;
    border:solid 2px black;
    overflow: hidden;
    position: relative;
    &:hover {
            .text {
            transform: translateY(-70px);
            transition-duration: 1s;
            }
            .text p {
            opacity: 100%;
            transition-duration: 1s;
            }
            .image {
            opacity: 70%;
            transition-duration: 1s;
            }
            .photo {
            transform: translateY(-70px);
            transition-duration: 1s;       
            }      
        }
    }
    .image {
    background-image:url(img/taj-mahal.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    }
    .date {
        height: 60px;
        width: 60px;
        background-color:red;
        border-radius: 50%;
        display : flex;  
        position: absolute; 
        left: 240px;
        top: 20px;
        h2 {
        margin: 0 auto;
        text-align: center;
        font-size: 1rem;
        font-weight: lighter;
        color: white;
        padding: 8px 0 0 10px;
        }
    }
    .photo {
    color: white;
    width: 90px;
    margin: 0%;
    text-align: center;
    position: absolute;
    top: -43px;
    z-index: 5;
    }
    .photo p {
    background-color: red;
    padding: 8px;
    font-weight: bold;
    }
    
    .text-content {
    background-color:white;
    height: 400px ;
    position: relative;
    }
    .text {
    padding: 15px;
    background-color: white;
    }
    .text h2{
        color: red;
        font-weight: lighter;
    }
    .text p {
    opacity: 0;
    }
    .footer {
    background-color: white;
    position:absolute ;
    bottom: 0;
    width: 100%;
        ul {
        display: flex;
        justify-content: space-around;
        }   
    }